<div class='nested-fields'> <div> <%= f.datetime_select :date,  :minute_step => 15, :ampm => true %> </div>
<div> <%= f.association :home_team, collection: Team.order(:name)%> </div>
<div> <%= f.association :away_team, collection: Team.order(:name)%> </div>

 <%= link_to_remove_association "remove game", f %>

</div>
