<div>
  <div id='game-form'>
    <%= render 'games/game_form' %>
  </div>
<div id='games'>
    <% @season.games.each do |game| %>
        <div>
          <%= render('games/game', { season: @season, g: game }) %>
        </div>
    <% end %>
  </div>
</div>
