<div>
  <div>
    <%= render 'game_form' %>
  </div>

    <% @season.games.each do |g| %>
        <div>
          <%= link_to g.date.strftime('%A, %d %b %Y %l:%M %p'), game_path(g) %>
          <%= link_to g.home_team.name, game_path(g) %>
          <%= link_to g.away_team.name, game_path(g) %>
        </div>
    <% end %>

</div>
