<div class="w3-padding-large w3-padding-64" id="main">
<%if Team.exists?%>
<%= form_tag statistics_path, :method => 'get' do %>
  <%= collection_select :player, :season_id, Season.order(name: :desc), :id, :name, prompt: @season.name, class:"team-filter" %>
  <%= submit_tag 'Filter' %>
<% end %>
<hr>
<div class="team_list">
<% @players.each do |p|%>
  <%= p.first_name + ' ' + p.last_name %>

  <%# link_to edit_team_path(t) do %>
    <%# image_tag t.avatar.url(:medium) %>
  <%# end %>

<% end %>
</div>
<% else %>
There are no teams
<% end %>
</div>
