<!-- Header -->
<header class="bg-darkest-gray">
    <div class="container bg-darkest-gray">
        <div class="intro-text">
            <div class="intro-lead-in">IHL 2016-2017<div>
            <div class="intro-heading"></div>
            <a href="#services" class="page-scroll btn btn-xl">Download Schedule</a>
        </div>
    </div>
</header>
