<!-- Header -->
<header class='translucent' >
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">IHL 2016-2017</div>
            <div class="intro-heading"></div>
            <a class="page-scroll btn btn-xl">Download Schedule</a>
        </div>
    </div>
</header>
