<div id='player_<%=p.id %>'>
  <%= link_to p.full_name, player_path(p) %>


  <%= link_to player_team_path(pt),
                    method: :delete,
                    remote: true,
                    data: { confirm: 'are you sure?' },
                    class: "pull-right" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
</div>
